ul li {
  color: blue;
  font-size: 2.3rem;
}

/* primeiro elemento do filho de ul */
ul li:first-child {
 color: red;
}
/* Se o primeiro elemnto for um paragrafo, devemos trocar  */
/* ul p:first-child {
  color: red;
 } */


/* PAR */
 ul li:nth-child(even) {
   background: aqua;
   color: white;
 }
/* 
 IMPAR  */
 ul li:nth-child(odd) {
  background: blue;  
  color: white;
}